services:
  - type: web
    name: Maestro-Server
    env: python
    plan: free
    region: frankfurt
    buildCommand: |
      pip install -r requirements.txt
    startCommand: |
      bash start.sh
